<div class="sheet">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>Ironsworn</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--name-->
            <div class="col-3-xs">
                <h6>name</h6>
                <p>{% if variables.name is defined %} {{ variables.name }} {% endif %}</p>
            </div>
            <!--edge-->
            <div class="col-xs">
                {% if variables.edge is defined %} {{ variables.edge }} {% endif %}
                <h6></h6>
                <p></p>
            </div>
            <!--iron-->
            <div class="col-xs">
                <h6>iron</h6>
                <p>{% if variables.iron is defined %} {{ variables.iron }} {% endif %}</p>
            </div>
            <!--heart-->
            <div class="col-xs">
                <h6>heart</h6>
                <p>{% if variables.heart is defined %} {{ variables.heart }} {% endif %}</p>
            </div>
            <!--shadow-->
            <div class="col-xs">
                <h6>shadow</h6>
                <p>{% if variables.shadow is defined %} {{ variables.shadow }} {% endif %}</p>
            </div>
            <!--wits-->
            <div class="col-xs">
                <h6>wits</h6>
                <p>{% if variables.wits is defined %} {{ variables.wits }} {% endif %}</p>
            </div>
        </div>
        <div class="row-xs">
            <div class="col-xs">
                <!--momentum-->
                <h6>momentum</h6>
                <p>{% if variables.momentum is defined %} {{ variables.momentum }} {% endif %}</p>
                <!--supply-->
                <h6>supply</h6>
                <p>{% if variables.supply is defined %} {{ variables.supply }} {% endif %}</p>
            </div>
            <div class="col">
                <!--health-->
                <h6>health</h6>
                <p>{% if variables.health is defined %} {{ variables.health }} {% endif %}</p>
                <!--spirit-->
                <h6>spirit</h6>
                <p>{% if variables.spirit is defined %} {{ variables.spirit }} {% endif %}</p>
            </div>
            <div class="col">
                <!--xp-->
                <h6>XP</h6>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>XP TOTAL</th>
                            <th>XP USED</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% if variables.xptotal is defined %} {{ variables.xptotal }} {% endif %}</td>
                            <td>{% if variables.xpused is defined %} {{ variables.xpused }} {% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                <!--failure-->
                <h6>failure</h6>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>TICKS</th>
                            <th>PROGRESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% if variables.failuretick is defined %} {{ variables.failuretick }} {% endif %}</td>
                            <td>{% if variables.failureprogress is defined %} {{ variables.failureprogress }} {% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <!--bonds progress-->
                <h6>Bonds</h6>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>TICKS</th>
                            <th>PROGRESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% if variables.bondstick is defined %} {{ variables.bondstick }} {% endif %}</td>
                            <td>{% if variables.bondsprogress is defined %} {{ variables.bondsprogress }} {% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                <!--bonds notes-->
                <h6>Bond Notes</h6>
                <p>{% if variables.bonds is defined %} {{ variables.bonds }} {% endif %}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h5>VOWS AND PROGRESS</h5>
            <div class="row">
                <div class="col-xs">
                    <h6>{% if variables.vow1 is defined %} {{ variables.vow1 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick1 is defined %} {{ variables.tick1 }} {% endif %}</td>
                                    <td>{% if variables.progress1 is defined %} {{ variables.progress1 }} {% endif %}</td>
                                    <td>{% if variables.menace1 is defined %} {{ variables.menace1 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="col-xs">
                    <h6>{% if variables.vow2 is defined %} {{ variables.vow2 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick2 is defined %} {{ variables.tick2 }} {% endif %}</td>
                                    <td>{% if variables.progress2 is defined %} {{ variables.progress2 }} {% endif %}</td>
                                    <td>{% if variables.menace2 is defined %} {{ variables.menace2 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="col-xs">
                    <h6>{% if variables.vow3 is defined %} {{ variables.vow3 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick3 is defined %} {{ variables.tick3 }} {% endif %}</td>
                                    <td>{% if variables.progress3 is defined %} {{ variables.progress3 }} {% endif %}</td>
                                    <td>{% if variables.menace3 is defined %} {{ variables.menace3 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <h6>{% if variables.vow4 is defined %} {{ variables.vow4 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick4 is defined %} {{ variables.tick4 }} {% endif %}</td>
                                    <td>{% if variables.progress4 is defined %} {{ variables.progress4 }} {% endif %}</td>
                                    <td>{% if variables.menace4 is defined %} {{ variables.menace4 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="col-xs">
                    <h6>{% if variables.vow5 is defined %} {{ variables.vow5 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick5 is defined %} {{ variables.tick5 }} {% endif %}</td>
                                    <td>{% if variables.progress5 is defined %} {{ variables.progress5 }} {% endif %}</td>
                                    <td>{% if variables.menace5 is defined %} {{ variables.menace5 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="col-xs">
                    <h6>{% if variables.vow6 is defined %} {{ variables.vow6 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick6 is defined %} {{ variables.tick6 }} {% endif %}</td>
                                    <td>{% if variables.progress6 is defined %} {{ variables.progress6 }} {% endif %}</td>
                                    <td>{% if variables.menace6 is defined %} {{ variables.menace6 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <h6>{% if variables.vow7 is defined %} {{ variables.vow7 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick7 is defined %} {{ variables.tick7 }} {% endif %}</td>
                                    <td>{% if variables.progress7 is defined %} {{ variables.progress7 }} {% endif %}</td>
                                    <td>{% if variables.menace7 is defined %} {{ variables.menace7 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="col-xs">
                    <h6>{% if variables.vow8 is defined %} {{ variables.vow8 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick8 is defined %} {{ variables.tick8 }} {% endif %}</td>
                                    <td>{% if variables.progress8 is defined %} {{ variables.progress8 }} {% endif %}</td>
                                    <td>{% if variables.menace8 is defined %} {{ variables.menace8 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="col-xs">
                    <h6>{% if variables.vow9 is defined %} {{ variables.vow9 }} {% endif %}</h6>
                    <p>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>TICKS</th>
                                    <th>PROGRESS</th>
                                    <th>MENACE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if variables.tick9 is defined %} {{ variables.tick9 }} {% endif %}</td>
                                    <td>{% if variables.progress9 is defined %} {{ variables.progress9 }} {% endif %}</td>
                                    <td>{% if variables.menace9 is defined %} {{ variables.menace9 }} {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>