.solidbox {
    border-style: outset !important;
margin: auto;
margin-top: 5px !important;
margin-bottom: 5px !important;}
 .sheet {
max-width: 95%;
margin: auto;}
 {
    background-image: url("https://www.worldanvil.com/uploads/images/6bd13ab1cce8c944d53ccdd4bf0c47d7.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-size: cover !important;
    padding: 0px !important;
    margin: 0px !important;}
 .top {
margin-top: 10px !important;}
 .bottom{
margin-bottom: 10px !important;}
 h6,  p,  strong {
margin: 2px !important;
padding: 5px !important;
color: white !important;
background-color: black !important;
}
h6,  p,  strong::before {
opacity: 0.7; !important}
 